{{>nav user=user}}
<div class="container pt-4">
  <div class="row">
    <!-- Profile -->
    <div class=" col-12 col-lg-4">
      <h2 class="pb-2">Profile</h2>
      <form action="/profile?_method=PATCH" method="POST" class="border-top pt-2 pt">
        <h5 class="my-0 fs-6">Name</h5>
        <input type="text" name="name" value="{{user.name}}" class="form-control">
        <h5 class="mb-0 mt-2 fs-6">Email</h5>
        <input type="email" name="email" value="{{user.email}}" class="form-control" placeholder="name@example.com">
        <h5 class="mb- mt-2 fs-6">Profile picture</h5>
        <img class="rounded-circle d-block mb-2" src="{{user.picture}}" width="50px" alt="">
        <input type="text" name="picture" class="form-control">
        <button type="submit" class="btn btn-success mt-2">Save changes</button>
      </form>
    </div>
    <div class="col"></div>
    <!-- My listings -->
    <div class="col-lg-7 col-12 mt-lg-0 mt-4">
      <h2 class="pb-2">My listings</h2>
      <form action="" class="border-top pt-2">
        <button type="button" class="btn btn-success my-2"><a href="/houses/create" target="_blank"></a>List a
          house</button>
        {{#if houses}}
        {{#each houses as |house|}}
        <div class="card mb-2">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <img class="img-fluid" src="{{house.photos.[0]}}" class="card-img-top" alt="...">
              </div>
              <div class="col-9">
                <h4> {{house.title}}</h4>
                <small class="text-secondary">{{house.location}} - {{house.rooms}} rooms</small>
                <p class="mt-2">{{house.description}}
                </p>
                <button type="submit" class="btn btn-outline-secondary"><a href="/houses/{{house._id}}"
                    target="_blank">View</a></button>
                <button type="submit" class="btn btn-outline-success"><a
                    href="/houses/{{house._id}}/edit">Edit</a></button>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        {{else}}
        <div class="card mb-2">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <p class="my-1">
                  You do not have listed houses
                </p>
              </div>
            </div>
          </div>
        </div>
        {{/if}}
      </form>
    </div>
  </div>
</div>