{{>nav user=user}}
<!-- Form -->
<div class="container">
  <h1 class="pt-3 pb-3">Edit a house</h1>
  <form action="/houses/:id?_method=PATCH" method="POST">
    <div class="mb-3">
      <h6 class="font-weight-bold mb-1 mt-0">Short Title</h6>
      <input type="text" class="form-control" placeholder="{{housed.title}}">
    </div>
    <div class="mb-3">
      <h6 class="font-weight-bold mb-1 mt-0">Description</h6>
      <textarea class="form-control" rows="3" placeholder="{{{housed.description}}}"></textarea>
    </div>
    <div class="mb-3">
      <h6 class="font-weight-bold mb-1 mt-0">Number of rooms</h6>
      <select class="form-select" aria-label="Default select example">
        <option selected>{{housed.rooms}} rooms</option>
        <option value="1">1 room</option>
        <option value="2">2 rooms</option>
        <option value="3">3 rooms</option>
        <option value="4">4 rooms</option>
        <option value="5">5 rooms</option>
      </select>
    </div>
    <div class="mb-3">
      <h6 class="font-weight-bold mb-1 mt-0">Location</h6>
      <select class="form-select" aria-label="Default select example">
        <option selected>{{housed.location}}</option>
        <option value="Koh Phangan">Koh Phangan</option>
        <option value="Koh Samui">Koh Samui</option>
        <option value="Bali">Bali</option>
      </select>
    </div>

    <div class="mb-3">
      <h6 class="font-weight-bold mb-1 mt-0">Price (per night)</h6>
      <div class="input-group">
        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
        <input type="number" class="form-control" placeholder="{{housed.price}}" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="mb-3">
      <h6 class="font-weight-bold mb-1 mt-0">Add photos (up to 9)</h6>
      <div class="container">
        <div class="row row-cols-12">
          <input type="text" class="form-control mb-2" placeholder="{{housed.photos.[0]}}">
          <input type="text" class="form-control mb-2" placeholder="{{housed.photos.[1]}}">
          <input type="text" class="form-control mb-2" placeholder="{{housed.photos.[2]}}">
          <input type="text" class="form-control mb-2" placeholder="{{housed.photos.[3]}}">
          <input type="text" class="form-control mb-2" placeholder="{{housed.photos.[4]}}">
          <input type="text" class="form-control mb-2" placeholder="{{housed.photos.[5]}}">
          <input type="text" class="form-control mb-2" placeholder="{{housed.photos.[6]}}">
          <input type="text" class="form-control mb-2" placeholder="{{housed.photos.[7]}}">
          <input type="text" class="form-control mb-2" placeholder="{{housed.photos.[_]}}">

        </div>

      </div>
    </div>
    <button type="submit" name="save-house" class="btn btn-success d-block">Save Changes</button>
    <button type="submit" name="delete house" class="btn btn-danger d-block mt-2">Delete House</button>
  </form>
</div>