{{>nav}}
<!-- Filter -->
<div class="filter text-bg-light">
  <div class="container py-2">
    <form action="" method="">
      <div class="row">
        <!-- Filter - location -->
        <div class="col col-lg-2 col-md-4 col-12  mb-sm-2">
          <div class="input-group">
            <span class="input-group-text"><i class="fa-solid fa-location-dot"></i></span>
            <select class="form-select" name="location" aria-label="Default select example">
              <option selected>Any locations</option>
              <option value="Koh Phangan">Koh Phangan</option>
              <option value="Koh Phangan">Koh Phangan</option>Samui</option>
              <option value="Bali">Bali</option>
            </select>
          </div>
        </div>

        <!-- Filter - Number of rooms -->
        <div class="col col-lg-2 col-md-4 col-sm-12  mb-sm-2">
          <div class="input-group">
            <span class="input-group-text"><i class="fa-solid fa-house"></i></span>
            <select class="form-select" name="rooms" aria-label="Default select example">
              <option selected>Any rooms</option>
              <option value="1">1 room</option>
              <option value="2">2 rooms</option>
              <option value="3">3 rooms</option>
              <option value="4">4 rooms</option>
              <option value="5">5 rooms</option>
            </select>
          </div>
        </div>

        <!-- Filter - price -->
        <div class="col col-lg-2 col-md-4 col-sm-12  mb-sm-2">
          <div class="input-group">
            <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
            <input type="number" class="form-control" placeholder="max price" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
        </div>

        <!-- Filter - sort  by price -->
        <div class="col col-lg-2 col-md-4 col-sm-12  mb-sm-2">
          <div class="input-group">
            <span class="input-group-text"><i class="fa-solid fa-arrow-up-wide-short"></i></span>
            <select class="form-select" name="sortprice" aria-label="Default select example">
              <option value="lowtohigh">Price (low to high)</option>
              <option value="hightolow">Price (high to low)</option>

            </select>
          </div>
        </div>

        <!-- Filter - search input -->
        <div class="col col-lg-2 col-md-4 col-sm-12 mb-sm-2">
          <input type="text" name="search" class="form-control" placeholder="House name...">
        </div>

        <!-- Filter - Search button -->
        <div class="col col-lg-2 col-md-4 col-sm-12  mb-sm-2">
          <button type="submit" class="btn btn-success">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Cards -->
<div class="container pt-4">
  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
    {{#each houses as |house|}}
    <div class="col">
      <div class="card mb-4">
        <img src="{{house.photos[0]}}" class="card-img-top" alt="Luxury villa">
        <div class="card-body">
          <i class="fa-solid fa-location-dot pe-2"></i><small>{{house.location}} - {{house.rooms}}</small>
          <h5 class="pt-2 pb-2 card-title">{{house.title}}</h5>
          <div class="row">
            <div class="col">
              <i class="fa-solid fa-thumbs-up pe-1 text-success"></i><small>2 Reviews</small>
            </div>
            <div class="col text-end">
              <small>{{house.price}}/night</small>
            </div>
            <a href="https://" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}