{{>nav user=user}}
<!-- Gallery -->
<div class="container mt-3">
  <div class="row">


    <div class="col p-0 align-self-center col-lg-6 col-12">
      <img width="100%" src="{{house.photos.[0]}}" alt="Picture Luxury Villa Chaweng" />
    </div>
    <div class="col align-self-center col-lg-6 col-12  ">

      <div class="row row-cols-lg-3  row-cols-5 pt-2 pt-lg-0 pt-sm-4 text-end g-4">
        {{#each house.photos as |photo|}}
        <div class="col px-0 align-items-center side-picture">
          <img class="img-fluid" src="{{photo}}" alt="" width="70%">
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<!-- Text and reviews -->
<div class="container pt-4">
  <div class="row">
    <div class="col-lg-7 col-xs-12">
      <!-- Left -->
      <h1>{{house.title}}</h1>
      <i class="fa-solid fa-location-dot text-success pe-1"></i><small>{{house.location}} - {{house.rooms}}
        rooms</small>
      <div class="container profile mt-4 mb-4">
        <div class="row">
          <div class="col-1">
            <img class="img-fluid rounded-circle" src="https://randomuser.me/api/portraits/men/11.jpg"
              alt="profile picture">
          </div>
          <div class="col-11">
            <small class="text-secondary">Hosted by</small>
            <h6>{{house.host.name}}</h6>
          </div>
        </div>
      </div>

      <p class="mt-2">{{house.description}}
      </p>

      <h2 class="mt-5">1 Review</h2>
      <form action="/reviews" method="POST">
        <input type="hidden" value="{{house._id}}" />
        <label for="" class=" pb-2">Leave a review</label>
        <textarea class="form-control mb-3" name="" cols="30" rows="6"></textarea>

        <input type="radio" class="btn-check" name="rating" id="success-outlined" autocomplete="off">
        <label class="btn btn-outline-success" for="rating"><i class="fa-solid fa-thumbs-up text-success"></i></label>

        <input type="radio" class="btn-check" name="rating" id="danger-outlined" autocomplete="off">
        <label class="btn btn-outline-danger" for="rating"><i class="fa-solid fa-thumbs-down text-danger"></i></label>

        <button type="submit" class="mt-3 btn btn-success d-block">Submit</button>
      </form>

      <!-- Individual review -->
      <div class="card my-4">
        <div class="container profile mt-3 mb-2">
          <div class="row">
            <div class="col-1">
              <img class="img-fluid rounded-circle" src="https://randomuser.me/api/portraits/men/11.jpg"
                alt="profile picture">
            </div>
            <div class="col-10">
              <small class="text-secondary">02 Jan 2022 - 01:01 </small>
              <h6>Luis Margarita</h6>
              <p>Excellent stay, I will come back again</p>
            </div>
            <div class="col-1"><i class="fa-solid fa-thumbs-up text-success"></i></div>
          </div>
        </div>
      </div>
    </div>
    {{#if booking}}
    <div class="col-lg-4 col-sm-12 mb-4">
      <div class="card p-3 shadow text-start">
        <h3>$350/night</h3>
        <small>2 Reviews</small>
        <div class="alert alert-success mt-2" role="alert">
          Thank you for your enquiry. Sent {{time}}
        </div>
      </div>
    </div>
    {{else}}
    <!-- Request a booking -->
    <div class="col-lg-4 col-sm-12 mb-4">
      <div class="card p-3 shadow text-start">
        <form action="/bookings" method="POST">
          <input type="hidden" name="house" value="{{house._id}}" />
          <h3>${{house.price}}/night</h3>
          <i class="fa-solid fa-thumbs-up text-success pe-1"></i><small>2 Reviews</small>
          <textarea class="form-control mt-2" name="description" placeholder="Send the host a message..."
            id="exampleFormControlTextarea1" rows="5"></textarea>
          <button type="submit" class="btn btn-success  mt-2">Request a booking</button>
        </form>
      </div>
    </div>
    {{/if}}
  </div>
</div>